/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* overflow-y: hidden; */
  }
  
  .bgimg {
    /* Background image */
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/img/comming\ soon.jpg');
    /* Full-screen */
    height: 90%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 1;
    left: 16px;
  }

  .topleft img{
    width: 150px;
    height: 80px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    /* position: relative; */
    /* padding-top: 580px; */
    /* left: 16px; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    background-color:rgb(37, 143, 37);
  }


  @media  (max-width:1000px) and (min-width:900px){
    .bottomleft {
         /* position: relative; */
    /* padding-top: 580px; */
    /* left: 16px; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    background-color:rgb(37, 143, 37);
      }
  }

  @media (max-width:900px) and (min-width:760px) {
    .bottomleft {
         /* position: relative; */
    /* padding-top: 580px; */
    /* left: 16px; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    padding: 16px 10px;
    background-color:rgb(37, 143, 37);
      }
  }

  @media (max-width:480px) and (min-width:320px) {
    .bottomleft {
         /* position: relative; */
    /* padding-top: 580px; */
    /* left: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    text-align: center;
    background-color:rgb(37, 143, 37);
      }
  }

  .pointer{
    cursor: pointer;
  }

  .pointer a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
  }

  .pointer a:hover{
    font-weight: 600;
  }


  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
.text{
  /* display: flex;
  align-items: center; */
  margin: 0px 30px;
}

.text-heading{
  font-weight: 600;
}

.para-text{
  margin: 20px 35px;
}

.loader-line {
            width: 100%;
            height: 3px;
            position: relative;
            overflow: hidden;
            background-color: blue;
            margin: 100px auto;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        .loader-line:before {
            content: "";
            position: absolute;
            left: -50%;
            height: 3px;
            width: 40%;
            background-color: white;
            -webkit-animation: lineAnim 1s linear infinite;
            -moz-animation: lineAnim 1s linear infinite;
            animation: lineAnim 1s linear infinite;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        @keyframes lineAnim {
            0% {
                left: -40%;
            }
            50% {
                left: 20%;
                width: 80%;
            }
            100% {
                left: 100%;
                width: 100%;
            }
        }
