/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  
  .bgimg {
    /* Background image */
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url('/img/comming\ soon.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 1;
    left: 16px;
  }

  .topleft img{
    width: 150px;
    height: 80px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: relative;
    padding-top: 580px;
    /* left: 16px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }


  @media  (max-width:1000px) and (min-width:900px){
    .bottomleft {
        position: relative;
        padding-top: 1000px;
        left: 16px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
  }

  @media (max-width:900px) and (min-width:760px) {
    .bottomleft {
        position: relative;
        padding-top: 1000px;
        left: 16px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
  }

  @media (max-width:480px) and (min-width:320px) {
    .bottomleft {
        position: relative;
        padding-top: 580px;
        text-align: center;
        left: 6px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 100%;
        /* align-items: center; */
      }
  }

  .pointer{
    cursor: pointer;
  }

  .pointer a{
    text-decoration: none;
    color: #fff;
  }

  .pointer a:hover{
    font-weight: 600;
    color: rgb(8, 209, 8);
  }


  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }